
<div>
    <h1>Employee Details</h1>
    <ul>
        
        <li>ID:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.id}}</li>
        <li>Name:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.name}}</li>
        <li>Location:&nbsp;&nbsp;&nbsp;&nbsp;{{employee.email}}</li>
        <li>Email:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.location}}</li>
        <li>Mobile:&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{employee.mobile}}</li>
    </ul>
    <button (click)="goToList()">
        Back
        <!-- <a routerLink="/employees">Back</a> -->
    </button>
</div>